[Unit]
Description = Lock screen when going to sleep/suspend

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/horcrux/.config/i3/i3lock-pixelated --lock
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
