*background: #1d1f21
*foreground: #c5c8c6
*cursorColor: #c5c8c6

*color0: #282a2e
*color1: #a54242
*color2: #8c9440
*color3: #de935f
*color4: #5f819d
*color5: #85678f
*color6: #5e8d87
*color7: #707880
*color8: #373b41
*color9: #cc6666
*color10: #b5bd68
*color11: #f0c674
*color12: #81a2be
*color13: #b294bb
*color14: #8abeb7
*color15: #E8E8E8

URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
! State:            'bg',     'fg',  'bgalt',  'hlbg', 'hlfg'
rofi.color-normal: #1d1f21, #707880, #1d1f21, #1d1f21, #5f819d,
rofi.color-active: #1d1f21, #707880, #1d1f21, #1d1f21, #5f819d,
rofi.color-urgent: #1d1f21, #707880, #1d1f21, #1d1f21, #5f819d

! State:            'bg',   'border', 'separator'
rofi.color-window: #1d1f21, #81a2be, #81a2be,

rofi.bw: 0
rofi.columns: 2
rofi.eh: 2
rofi.fixed-num-lines: false
rofi.font: Ubuntu Mono Bold 16
rofi.fullscreen: true
rofi.hide-scrollbar: false
rofi.lines: 5
rofi.modi: window,run,ssh,clipboard:greenclip print
rofi.opacity: 50
rofi.padding: 100
rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.terminal: konsole
rofi.width: 100
